@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Karla:wght@400;600;700&display=swap');

*{
 box-sizing: border-box;
}

body{
 font-family: 'Karla', sans-serif;
 margin: 0;
}

main{
 background: url('/images/top-blobs.png') 1130px -100px no-repeat, url('/images/bottom-blobs.png') -90px 460px no-repeat;
 width: 100%;
 height: 100vh;
 background-color: #F5F7FB;
 overflow-x: hidden;
}


/* start page */

.start-quiz{
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.start-quiz h1{
 font-size: 35px;
 font-weight: 700;
 color: #293264;
}

.start-quiz p{
 font-size: 20px;
 font-weight: 400;
 color: #293264;
 margin-top: 0;
}

.start-quiz button{
 width: 200px;
height: 58px;
left: 179px;
top: 314px;
background: #4D5B9E;
border-radius: 15px;
border: none;
color: white;
font-size: 17px;
}

/* Quiz page */

.quiz-contents{
 max-width: 800px;
 margin: 20px auto;
}

.quiz-contents h3{
 font-size: 18px;
 font-family: 700;
 color: #293264;
}

.quiz-contents .options{
 margin-top: 10px;
 display: flex;
 flex-wrap: wrap;
 gap: 5px 0px;
}

.quiz-contents .options > span{
 padding: 5px;
 margin-right: 13px;
 border-radius: 12px;
 border: 1px solid #DBDEF0;
 background-color: #F5F7FB;
 text-align: center;
}

.quiz-contents > .line{
 margin-top: 25px;
width: 800px;
height: 0px;
left: 75px;
top: 107px;
border: 0.794239px solid #DBDEF0;
}

.quiz-page{
 display: flex;
 flex-direction: column;
 margin: 20px;
}

.check-btn{
align-self: center;
width: 170px;
height: 50px;
background: #4D5B9E;
border-radius: 15px;
border: none;
color: white;
font-size: 17px;
}

.quiz-contents .options > span.selected-answer {
  background-color: #d6dbf5;
  color: white;
}

.quiz-contents .options > span.correct-answer {
  background-color: #94D7A2;
  color: white;
}

.quiz-contents .options > span.incorrect-answer {
  background-color: #F8BCBC;
  color: white;
}

@media screen and (max-width: 767px){
  main{
     background: url('/images/top-blobs.png') 200px -120px no-repeat, url('/images/bottom-blobs.png') -120px 700px no-repeat;
     background-color: #F5F7FB;
   }
.quiz-contents > .line{
    width: 335px;
  }
  .start-quiz p{
    font-size: 20px;
    font-weight: 400;
    color: #293264;
    margin-top: -20px;
    padding: 30px;
    text-align: center;
  }
  .start-quiz button{
    font-size: 22px;
  }
}



